.container {
	max-width: 82%;
}

.mainTabBG{
	background-color: #ECE8E4;
}



canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.progress-bar {
	background-color: #f3f3f3;
	border-radius: 5px;
	/* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset; */

	width: 100%;
	height: 20px;

	position: relative;
	/* display: block; */
}

.progress-bar > span {
	background-color: blue;
	border-radius: 2px;

	display: block;
	text-indent: -9999px;
}

td input {
	width: 100%;
	float: right;
	/* box-sizing: border-box; */
}

.blockTitle{
	color: #4FD2CD;
	padding-top: 5px;
}

.tabBG1{
	background-color: #E9E5E1;
}
.tabBG2{
	background-color: #E7E5E1;
}

body{
	font-family: "Helvetica", sans-serif !important;
}
/*
body{
	font-family: "Courier", monospace !important;
}
*/
