doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='On Kim')
		link(rel='icon', href='/favicon.ico')

		title Quad RF Interface

		link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="stylesheets/awesome-bootstrap-checkbox.css")
		link(rel="stylesheet", href="stylesheets/style.css")

		script(defer, src='javascripts/jquery-3.3.1.min.js')
		script(defer, src='javascripts/bootstrap.min.js')
		script(defer, src='/socket.io/socket.io.js')
		script(defer, src='javascripts/plotly-latest.min.js')
		script(defer, src='javascripts/require_net_browserified.js')

		script(defer, src='javascripts/rfControl.js')
		script(defer, src='javascripts/sgControl.js')
		script(defer, src='javascripts/plotWaveforms.js')
		script(defer, src='javascripts/calculateWaveParams.js')
	
	body
		.container
			br
			header
				h3.float-start#topheader Quad RF System Control/Monitoring Interface
			#clock.float-end(style='color: red;')
			br
			p(style='margin-top:20px;') 
				a(href='https://cdcvs.fnal.gov/redmine/projects/g-2/wiki/Quad_GUI_manual_for_shifters') 
					h5.float-start Manual for shifters

		nav
			#nav-tab.nav.nav-tabs(role='tablist').container
				button#btnTabMain.nav-link.active(data-bs-toggle='tab', data-bs-target='#tabMain', type='button', role='tab', aria-controls='tabMain', aria-selected='true') Main Control
				button#btnTabQ1.nav-link(data-bs-toggle='tab', data-bs-target='#tabQ1', type='button', role='tab', aria-controls='tabQ1', aria-selected='false') Q1
				button#btnTabQ2.nav-link(data-bs-toggle='tab', data-bs-target='#tabQ2', type='button', role='tab', aria-controls='tabQ2', aria-selected='false') Q2
				button#btnTabQ3.nav-link(data-bs-toggle='tab', data-bs-target='#tabQ3', type='button', role='tab', aria-controls='tabQ3', aria-selected='false') Q3
				button#btnTabQ4.nav-link(data-bs-toggle='tab', data-bs-target='#tabQ4', type='button', role='tab', aria-controls='tabQ4', aria-selected='false') Q4
				button#btnTabAdvanced.nav-link(data-bs-toggle='tab', data-bs-target='#tabAdvanced', type='button', role='tab', aria-controls='tabAdvanced', aria-selected='false') Advanced

		#nav-tabContent.tab-content
			include tabMain.pug
			include tabQs.pug
			include tabAdvanced.pug

