.h6.blockTitle Signal Generator Control

.d-flex.justify-content-around
	button#btnWaveform.btn.btn-primary(title="Send waveforms to all") Waveform
	button#btnOutputOn.btn.btn-success(title="Turn ON all outputs") Output On
	button#btnOutputOff.btn.btn-danger(title="Turn OFF all outputs") Output Off

.row.mt-3.row-cols-3.mb-3(align="center")
	.col Status
	.col Waveform
	.col Output


.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-success
			input#radioStatusQ1T(type="radio", checked="")
			label(for="radioStatusQ1T") Q1T

	.col-4(align="center")
		button#btnWaveformQ1T.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ1T.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ1I(type="radio", checked="")
			label(for="radioStatusQ1I") Q1I

	.col-4(align="center")
		button#btnWaveformQ1I.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ1I.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ1O(type="radio", checked="")
			label(for="radioStatusQ1O") Q1O

	.col-4(align="center")
		button#btnWaveformQ1O.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ1O.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ2T(type="radio", checked="")
			label(for="radioStatusQ2T") Q2T

	.col-4(align="center")
		button#btnWaveformQ2T.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ2T.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ2I(type="radio", checked="")
			label(for="radioStatusQ2I") Q2I

	.col-4(align="center")
		button#btnWaveformQ2I.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ2I.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ2O(type="radio", checked="")
			label(for="radioStatusQ2O") Q2O

	.col-4(align="center")
		button#btnWaveformQ2O.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ2O.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ3T(type="radio", checked="")
			label(for="radioStatusQ3T") Q3T

	.col-4(align="center")
		button#btnWaveformQ3T.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ3T.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ3I(type="radio", checked="")
			label(for="radioStatusQ3I") Q3I

	.col-4(align="center")
		button#btnWaveformQ3I.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ3I.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ3O(type="radio", checked="")
			label(for="radioStatusQ3O") Q3O

	.col-4(align="center")
		button#btnWaveformQ3O.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ3O.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ4T(type="radio", checked="")
			label(for="radioStatusQ4T") Q4T

	.col-4(align="center")
		button#btnWaveformQ4T.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ4T.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ4I(type="radio", checked="")
			label(for="radioStatusQ4I") Q4I

	.col-4(align="center")
		button#btnWaveformQ4I.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ4I.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQ4O(type="radio", checked="")
			label(for="radioStatusQ4O") Q4O

	.col-4(align="center")
		button#btnWaveformQ4O.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQ4O.btn.btn-outline-dark Output

.row.mb-3.align-items-center
	.col-4.ps-5
		.ps-5.radio.radio-warning
			input#radioStatusQB(type="radio", checked="")
			label(for="radioStatusQB") QB

	.col-4(align="center")
		button#btnWaveformQB.btn.btn-outline-dark Waveform

	.col-4(align="center")
		button#btnOutputQB.btn.btn-outline-dark Output



